<h1>Login</h1>
<hr>
<%= form_tag '/login' do %>

	<div class="form-group">
		<%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
	</div>
	<div class="form-group">
		<%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
	</div>
	<div class="form-group">
		<%= submit_tag "Submit", class: "btn btn-block btn-info" %>
	</div>

<% end %>