<h1>Edit User</h1>
<%= render "form" %>
<br>
<div class="form-group">
<%= link_to "Destroy", destroy_user_path(@user), class: "btn btn-block btn-danger", method: :delete, data: { confirm: "You sure?" } %>
</div>