<h2><%= @bike.name %></h2>
<p><%= @bike.description %></p>
<div>
<%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-primary" %>
<%= button_to "Delete", @bike, method: :delete, class: "btn btn-primary" %>
</div>