<h1 class="col-md-4 col-md-offset-4">Create a New Post</h1>
<div class="col-md-4 col-md-offset-4">
	<%= form_for @post do |f| %>
		<div class="form-group">
	    <%= f.text_field :title, class: "form-control", placeholder: "Post title", autofocus: true %>
	  </div>
	  <div class="form-group">
	    <%= f.text_area :content, class: "form-control", placeholder: "Post content" %>
	  </div>
	  <div class="form-group">
    	<%= f.submit "Save Post", class: "btn btn-block btn-default" %>
  	</div>
	<% end %>
</div>
